---
import { getCollection } from "astro:content";
import TeamMember from "../../components/business/TeamMember.astro";
import Base from "../../layouts/Base.astro";

const about = await getCollection("about");
const team = about.find((a) => a.id === "team");

export async function getStaticPaths() {
  return [{ params: { lang: "de" } }, { params: { lang: "en" } }];
}
---

<Base>
  <section class="flex flex-col gap-8 pb-8">
    {team?.data.members.map((member) => <TeamMember member={member} />)}
  </section>
</Base>
