---
import ExpertiseList from "../../components/content/expertise/ExpertiseList.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Base from "../../layouts/Base.astro";

const t = useTranslations(getLangFromUrl(Astro.url));

export async function getStaticPaths() {
  return [{ params: { lang: "de" } }, { params: { lang: "en" } }];
}
---

<Base title={t("meta.expertise.title")} description={t("meta.expertise.description")}>
  <div class="pb-16">
    <h1 class="section-title">{t("home.expertise.title")}</h1>
    <ExpertiseList />
  </div>
</Base>
