---
import { getCollection } from "astro:content";
import {
  getLangFromUrl,
  idIsOfLanguage,
  useTranslations,
} from "../../i18n/utils";
import Base from "../../layouts/Base.astro";
import BoxGrid from "../../components/ui/BoxGrid.astro";
import InsightPreview from "../../components/business/InsightPreview.astro";

const insights = await getCollection("insights");
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const langInsights = insights
  .filter((c) => idIsOfLanguage(c.id, lang))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

export async function getStaticPaths() {
  const pages = await getCollection("insights");

  const paths = pages.map((page) => {
    const [lang] = page.id.split("/");
    return { params: { lang }, props: page };
  });

  return paths;
}
---

<Base>
  <h1>{t("insights.title")}</h1>
  <BoxGrid wide>
    {langInsights.map((insight) => <InsightPreview insight={insight} />)}
  </BoxGrid>
</Base>
