---
import { getCollection } from "astro:content";
import { pick, useTranslations } from "../../../i18n/utils";
import CaseStudyPreview from "./CaseStudyPreview.astro";
import Box from "../../ui/Box.astro";
import Grid from "../../ui/Grid.astro";
import Testimonial from "../testimonials/Testimonial.astro";

const { lang, slug } = Astro.props;

const caseStudies = await getCollection("case-studies");
const testimonials = await getCollection("testimonials");

const caseStudy = caseStudies.find((s) => s.id === slug)?.data;
const langTestimonials = (caseStudy?.testimonials ?? []).flatMap((s) => {
  const voice = testimonials.find((t) => t.id === s);
  return voice ? [voice] : [];
});

const t = useTranslations(lang);
---

{
  !!caseStudy ? (
    <section class="flex flex-col gap-8 pb-8" id={caseStudy.slug}>
      <CaseStudyPreview caseStudy={caseStudy} linked={false} swap />
      <Grid cols={2} class="pb-8">
        <Box padded>
          <div class="flex flex-col gap-4">
            <h2 class="text-primaryLight dark:text-primaryDark">
              {t("caseStudies.aboutTheClient")}
            </h2>
            <p>{pick(caseStudy.about, lang)}</p>
          </div>
        </Box>
        <Box padded>
          <div class="flex flex-col gap-4">
            <h2 class="text-primaryLight dark:text-primaryDark">
              {t("caseStudies.theChallenge")}
            </h2>
            <p>{pick(caseStudy.challenge, lang)}</p>
          </div>
        </Box>
        <Box padded>
          <div class="flex flex-col gap-4">
            <h2 class="text-primaryLight dark:text-primaryDark">
              {t("caseStudies.deliveredValue")}
            </h2>
            <p>{pick(caseStudy.deliveredValue, lang)}</p>
          </div>
        </Box>
        <Box padded>
          <div class="flex flex-col gap-4">
            <h2 class="text-primaryLight dark:text-primaryDark">
              {t("caseStudies.technologies")}
            </h2>
            <p>{caseStudy.tech.join(" — ")}</p>
          </div>
        </Box>
        <Box padded customClass="col-span-full">
          <div class="flex flex-col gap-4">
            <h2 class="text-primaryLight dark:text-primaryDark">
              {t("caseStudies.theProduct")}
            </h2>
            <p>{pick(caseStudy.product, lang).join(" — ")}</p>
          </div>
        </Box>
        {langTestimonials?.length > 0 && (
          <Box
            padded
            customClass={langTestimonials.length > 1 ? "col-span-full" : undefined}
          >
            <div class="flex flex-col gap-4">
              <h2 class="text-primaryLight dark:text-primaryDark">
                {t("caseStudies.testimonial")}
              </h2>
              <div class="flex flex-col gap-4 md:flex-row md:justify-center">
                {langTestimonials.slice(0, 3).map((voice) => (
                  <div class="md:flex-1">
                    <Testimonial testimonial={voice.data} variant="caseStudy" />
                  </div>
                ))}
              </div>
            </div>
          </Box>
        )}
      </Grid>
    </section>
  ) : (
    <div>
      <h1 class="section-title">{t("caseStudies.notFound")}</h1>
    </div>
  )
}
