---
import { Image } from "astro:assets";
import { getLangFromUrl } from "../../i18n/utils";
import Box from "../ui/Box.astro";

const insight = Astro.props.insight;

const lang = getLangFromUrl(Astro.url);
---

<Box href={`/${lang}/insights/${insight.id.split("/")[1]}`} padded>
  <div class="grid grid-cols-1 gap-4">
    <Image src={insight.data.image} alt={insight.data.imageAlt} />
    <h3 class="italic text-center">{insight.data.title}</h3>
  </div>
</Box>
