---
import { Image } from "astro:assets";
import type { TeamMember } from "../../content.config";
import { getLangFromUrl, pick } from "../../i18n/utils";
import Box from "../ui/Box.astro";

const member: TeamMember = Astro.props.member;
const lang = getLangFromUrl(Astro.url);
---

<Box padded>
    <div class="flex flex-col md:flex-row items-center gap-4">
    <Image
      class="w-full rounded-full max-w-md px-3"
      src={member.image}
      alt={member.name}
    />
    <p class="">{pick(member.description, lang)}</p>
  </div>
</Box>
