---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
---

<div class="flex flex-col gap-8 pb-8">
  <form
    class="flex flex-col gap-8"
    method="post"
    action="https://forms.un-static.com/forms/abef4a4f20c48f436cdb7eb8ca72aee60b38f607"
  >
    <input
      name="name"
      placeholder={t("contact.name")}
      type="text"
      required="required"
    />
    <input
      name="email"
      placeholder={t("contact.email")}
      type="text"
      required="required"
    />
    <textarea
      name="message"
      placeholder={t("contact.message")}
      cols="40"
      rows="10"
      required="required"></textarea>
    <div class="flex justify-between gap-4">
      <p class="email-disclaimer">
        <small
          >powered by <a
            rel="nofollow"
            class="focused-link"
            href="https://un-static.com/"
            target="_blank">Un-static Forms</a
          ></small
        >
      </p>
      <button class="button-primary" name="submit" type="submit"
        >{t("contact.send")}</button
      >
    </div>
  </form>
</div>
